* {
    box-sizing: border-box;
    margin: 0px;
}


.container {
    border: solid black;
    width: 960px;
    height: 960px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    background: lightcoral;
    flex: auto;
    border: solid red;
}

.square {
    border: solid blue;
    width: 10px;
    background: lightblue;
    flex: auto;
}